<header (click)="openHome()">
  <h1>Dorfladen</h1>
</header>

<div class="shopping-cart-container">
  <app-mini-shopping-cart></app-mini-shopping-cart>
</div>

<table style="width:100%">
  <tr>
    <th>Produkt</th>
    <th>Einzelpreis</th>
    <th>Anzahl</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let cartItem of productCart">
    <th>{{cartItem?.product.productName}}</th>
    <th>{{cartItem?.product.specialOffer}} CHF / <s style="color: red">{{cartItem?.product.normalPrice}} CHF</s></th>
    <th>
      <button (click)="
      increaseAmount(cartItem?.product.id)">+</button>
      {{cartItem?.amount}}
      <button (click)="decreaseAmount(cartItem?.product.id)">-</button>
    </th>
    <th>
      {{cartItem.amount}}
    </th>
  </tr>
</table>

