<header (click)="openHome()">
  <h1>Dorfladen</h1>
</header>

<div class="shopping-cart-container">
  <app-mini-shopping-cart></app-mini-shopping-cart>
</div>

<table style="width:100%">
  <tr>
    <th>Produkt</th>
    <th>Einzelpreis</th>
    <th>Anzahl</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let cartItem of productCart">
    <th>{{cartItem?.product.productName}}</th>
    <th>{{cartItem?.product.specialOffer}} CHF / <s style="color: red">{{cartItem?.product.normalPrice}} CHF</s></th>
    <th>
      <button>+</button>
      {{cartItem?.amount}}
      <button>-</button>
    </th>
    <th>
      {{cartItem.amount}}
    </th>
  </tr>
</table>
<!-- <div class="produkt">Produkt</div>
<div>Einzelpreis</div>
<div>Anzahl</div>
<div>Total</div>
<a *ngFor="let product of products" (click)="productDetails(product?.id)">
  <div class="produkt">
    <div>{{product?.productName}}</div>
  </div>
  <div class="preis">
    <p>{{product?.specialOffer}} CHF / <s style="color: red">{{product.normalPrice}} CHF</s></p>
  </div>
</a>
</div> -->


<!-- <div class="grid-container">
    <div class="item1">1</div>
    <div class="item2">2</div>
    <div class="item3">3</div>  
    <div class="item4">4</div>
    <div class="item5">5</div>
    <div class="item6">6</div>
    <div class="item7">7</div>
    <div class="item8">8</div>  
  </div> -->
