.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  width: 100%;
}

.product {
  width: 200px;
  height: 275px;
  padding: 5px;
}

.image {
  width: 200px;
  height: 200px;
}

.shopping-cart-container {
  display: flex;
  justify-content: flex-end;
}
